body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    background-color: black;
    color: white;
    font-size: 2vw;
    padding: 1vw;
    padding-left: 4vw;
    text-align: center;
}

img {
    width: 17vw;
    height: 15vw;
    border: 1vw solid black;
}
